* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 66.6%;
    scroll-behavior: smooth;
}
/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 15px = 80em */
@media(max-width: 80em) {
    html {
        font-size: 64%;
    }
}

/* 980px / 15px = 65.3em */
@media(max-width: 65.3em) {
    html {
        font-size: 62%;
    }
}

/* 460px / 15px = 30.6em */
@media(max-width: 30.6em) {
    html {
        font-size: 60%;
    }
}



body {
    /* background-color: hsl(220, 15%, 55%); */
    height: 100%;
    margin: 0;
}

.main {
    background-color: hsl(220, 15%, 55%);
    width: 100%;
    height: 100%;
}

.card {
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    width: 220px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media(max-width: 30.6em) {
    .card {
       margin: 0 auto;
    }
}

.project-img {
    margin-top: 10px;
}

.card .image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card .upper-text{
    margin: 10px;
    /* background-color: bisque; */
    align-items: center;
}

.top-text {
    font-size: 15px;
    font-weight: 700;
    /* margin-left: 10px; */
    margin: 10px;
}
@media (max-width: 28.75em) {
    .top-text {
        font-size: 13px;
    }
}

.lower-text {
    font-size: 13px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
}
@media (max-width: 28.75em) {
    .lower-text {
        font-size: 11px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} 